.gallery {
  display: flex;
  width: 100%;
  padding-bottom: 66px;
}

@media screen and (max-width: 930px) {
  .gallery {
    width: calc(100% - 19px*2);
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 48px;
  }
}
