.info-popup__close-button {
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background: url(../../../images/close-Icon.svg) no-repeat;
  border: 0;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.info-popup__close-button:hover {
  opacity: 0.6;
}