.card__like {
  width: 22px;
  height: 19px;
  padding: 0;
  border: 0;
  background: url(../../../images/like.svg) no-repeat;
  background-position: center;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.5;
}
